<?xml version="1.0"?>
  <robot name="box">
    <link name="base_link">
      <visual>
        <geometry>
          <box size="1.0 1.0 5"/>
        </geometry>
      </visual>
      <inertial>
        <mass value="100"/>
    	  <inertia ixx="0" ixy="0.0" ixz="0" iyy="0" iyz="0.0" izz="0"/>
  	  </inertial>
      <collision>
        <geometry>
          <box size="1.0 1.0 5"/>
        </geometry>
      </collision>
    </link>
  </robot>
